@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);



#menu-0 .navbar-toggler {
  color: #000;
}
#header1-1 H1 {
  text-align: center;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-2 .lead P {
  text-align: left;
}
#msg-box4-2 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#header3-4 H3 {
  font-family: 'Open Sans', sans-serif;
}
#menu-6 .navbar-toggler {
  color: #000;
}
